.container-c {
    background: #262e2f;
}
.main-title-ul {
  border-bottom: 2px white solid;
}
.home-button {

  border: 1px solid white;
  color: white;

}
.feature-image-960 {
    background: #303030;
}
.top-c {
    color: black !important;
}
.top-button {
    border: 1px solid black !important;
    color: black !important;

}
body {
    background: #262e2f !important;
    color: white !important;

}

.copywright {
    background: #262e2f;

}
.sign-up-box {
    color: black !important;

}

.button:hover {
    background-color: #503e73 !important;
}


.blog-title {
    color: white !important;
}

.sign-up-form {

    background: white !important;
}

.article-title {
    color: white;
}

.text-block {
    color: white;
    font-weight: 800;
}

.sub-title {
    color: white;
}
.dev-title {
    color: white;
}
.outline-sign-up-box {
    border: 2px solid white;
}
