
body {
    font-family: "Nunito","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 400;
}
.text-block-110 {
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:767px) {
    .text-block-110 {
        font-size: 110%;
        line-height: 1.75rem;
    }

}
.sign-up-box {
    color: black !important;

}
#mc_embed_signup .button {
    background-color: #715f95 !important;
    color: white !important;
    width: 480px !important;
    max-width: 100% !important;
    border: none !important;
}
.button:hover {
    background-color: #503e73 !important;
}
.newsletter-title-b {
    font-family: "Oswald";
    font-size: 250%;
    margin-bottom: 30px;
    font-weight: 800;
}
@media (max-width: 480px) {
.newsletter-title-b {
    margin-bottom: 20px;
}
}
.newsletter-sub-title {
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 1.3;
    text-align: left;
}
.blog-title {
    margin-bottom: 0px !important;
    font-size: 200%;
}
.copywright {
    font-size: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.sign-up-form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 15px;
    background: white !important;
    max-width: 660px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.article-set-title {
    font-weight: 400;
    line-height: 1.1;
}
@media (max-width: 767px) {
    .blog-title {
        padding-top: 15px !important;
    }
    .main-title {
        font-size: 140% !important;
        padding-top: 20px !important;
        padding-bottom: 25px !important;
    }
    .dev-title {
        font-size: 180% !important;
        line-height: 2rem;
    }
    .newsletter-title-b {
        font-size: 180% !important;
    }
 }
.feature-logo {
    padding-top: 50px;
    max-width: 550px;
}
.url-blue {
    color: #81b7e9 !important;
  }

  .url-blue:hover {
    color: #5297d7 !important;
  }

@media(max-width:767px) {
    .feature-logo {
    padding-top: 0px;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.grid-name {
text-align: left;
}
}
.article-title {
    color: white;
    font-family: "Oswald";
    padding-bottom: 0px;
    padding-top: 40px;
}
.main-title {
    font-size: 260%;
    border-bottom: 2px white solid;
    padding-top: 10px;
    padding-bottom: 40px;
    display: block;

}

.intro-bubble {
    max-width: 450px;
}
.intro-bubble-w {
    max-width: 480px;
}
.col-red {
    color: #9d456f;
}
.col-blue {
    color:#649ed6;
}

.sub-title {
    color: white;
    font-weight: 300;
    padding-top: 40px;
}
.dev-title {
    color: white;
    font-family: "Oswald";
    font-size: 220%;
    padding-bottom: 10px;
}

.image-outline {
    border: 3px solid white;
}
.newsletter-title {
    padding-bottom: 20px;
}